body {
  width: auto;
}
.navbar {
  background-color: rgb(254, 222, 79);
}

h1 {
  font-family:"Sugarpie";
  text-align: center;
  margin: 20px;
  font-size: 100px;
  font-weight: bolder;
  color: #ffc93c;
}
hr {
  border-top: none;
  border-bottom: 20px dotted lightgray;
  width: 400px;
}
.btn {
  color: black;
  border: 2px solid lightgray;
}
#mainDiv {
  margin-left: 15px;
}
#contentAdd {
  width: 400px;
  height: 360px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  background-color: rgb(254, 222, 79);
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  resize: none;
  border: 2px solid #a2d5f2;
  border-radius: 20px;
  outline: none !important;
}
.note-container {
  text-align: center;
}
#clickAdd {
  display: block;
  position: relative;
  top: 30%;
  border: none;
  font-size: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.1s;
}
#clearNote {
  top: 50%;
  font-size: 30px;
  border: none;
}
.btn-add {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  font-size: 30px;
  text-align: center;
  padding: auto;
}

#list li {
  opacity: 0;
}

#list > li {
  display: inline-block;
  position: relative;
  border: 2px solid lightgrey;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
  background-color: rgb(254, 222, 79);
  box-sizing: content-box;
  animation: fadeIn 1s ease-in both;
}

.item-div {
  height: 200px;
  position: sticky;
  overflow: scroll;
}

.btn-place {
  position: sticky;
  top: 30px;
  bottom: 0;
  float: right;
}
.input-date {
  position: sticky;
  bottom: 0;
  float: left;
  color: #fff;
  background-color: #a2d5f2;
  border: 2px solid rgb(254, 222, 79);
  border-radius: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#timeInput {
  margin-top: 10px;
  display: flex;
  width: 300px;
  background-color: rgb(254, 222, 79);
  border: 2px solid #a2d5f2;
  border-radius: 20px;
}
#dateInput {
  display: flex;
  width: 300px;
  background-color: rgb(254, 222, 79);
  border: 2px solid #a2d5f2;
  border-radius: 20px;
}
/* Title font */
@font-face {
    font-family: "Sugarpie";
    src: url(/assets/fonts/Sugarpie.ttf);
}
/* bootstrap glyphicon */
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/assets/fonts/glyphicons-halflings-regular.eot");
  src: url("/assets/fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("/assets/fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("/assets/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-refresh:before {
  content: "\e031";
}
