body {
  width: auto;
}
.navbar{
    background-color: rgb(254, 222, 79);
}
h1{
    font-family: Cursive;
    text-align: center;
    margin: 20px;
    font-size: 100px;
    font-weight: bolder;
    color: #ffc93c;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(254, 222, 79);
}
hr {
    border-top: none;
    border-bottom: 20px dotted lightgray;
    width: 30%;

}
.btn{
    color: black;
    border: 2px solid lightgray;
}
#main-div{
    margin-left: 120px;
}
#content-add {
  width: 300px;
  height: 200px;
  position: relative;
  /* background-color: rgb(254, 222, 79); */
  background: #fff;
  /* padding: 15px;
  border-radius: 7px; */
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  resize: none;
  border: 2px solid #a2d5f2;
  border-radius: 20px;
  margin-right: 10px;
  outline: none !important;
  
}
.note-container {
  text-align: center;
  margin-top: 20px;
}
#click-add {
  /* margin-top: 60px;
  cursor:pointer; */
  /* position: absolute; */
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: .1s;
}
.btn-add {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  padding: auto;
}
.btn-add > span {
  font-size: 40px;
  color: #fff;
  font-family: Fantasy;
}
#list li {
    opacity: 0;
	
}
#list > li {
  display: inline-block;
  position: relative;
  border: 2px solid lightgrey;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
  background-color: rgb(254, 222, 79);
  box-sizing: content-box;
  overflow-y: scroll;
  animation: fadeIn 1s ease-in both;
}
.item-div {
  height: 200px;
  position: sticky;
  overflow: scroll;
}

.btn-place {
  position: sticky;
  top: 30px;
  bottom: 0;
  float: right;
}
.input-date {
  position: sticky;
  bottom: 0;
  float: left;
  color: #fff;
  background-color: #a2d5f2;
  border: 2px solid rgb(254, 222, 79);
  border-radius: 10px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.notify{  
    position:absolute;
    top:0px;
    width:100%;
    height:0;  
    box-sizing:border-box;
    color:white;  
    text-align:center;
    background:rgba(0,0,0,.6);
    overflow:hidden;
    box-sizing:border-box;
    transition:height .1s;
  }
  
  #notifyType:before{
    display:block;
    margin-top:15px; 
    
  }
  
  .active{  
    height:45px;
  }
  
  .success:before{
    Content:"Add new note succeeded!";
  }
  #time-input {
      margin-top: 10px;
    display: flex;
    width: 300px;
    background-color: rgb(254, 222, 79);
    border: 2px solid #a2d5f2;
    border-radius: 20px;
  }
  #date-input {
    display: flex;
    width: 300px;
    background-color: rgb(254, 222, 79);
    border: 2px solid #a2d5f2;
    border-radius: 20px;
  }
  